<!-- properties/templates/properties/property_list.html -->
{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1>Property Listings</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Rating</th>
          <th>Is Sold</th>
        </tr>
      </thead>
      <tbody>
        {% for property in properties %}
          <tr>
            <td>{{ property.title }}</td>
            <td>${{ property.price }}</td>
            <td>{{ property.rating }}</td>
            <td>{% if property.is_sold %}Yes{% else %}No{% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a class="btn btn-success" href="{% url 'property-create' %}">Add New Property</a>
  </div>
{% endblock %}
