{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow"> <!-- Added "shadow" class -->
                    <div class="card-body">
                        <h2 class="text-center mb-4">Login</h2>

                        <!-- Display success alert if login was successful -->
                        {% if request.session.user_authenticated %}
                            <div class="alert alert-success">
                                <strong>Login successful!</strong>
                            </div>
                        {% endif %}

                        <!-- Display error alert if login was unsuccessful -->
                        {% if request.session.login_error %}
                            <div class="alert alert-danger">
                                <strong>Invalid username or password!</strong>
                            </div>
                        {% endif %}
                        

                        
                        <form method="post" action="{% url 'user_login' %}" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username:</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                                <div class="invalid-feedback">Please enter your username.</div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                                <div class="invalid-feedback">Please enter your password.</div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
