{% extends 'base.html' %}

{% block content %}
    <h1>Your Favorite Properties</h1>

    {% if properties %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Address</th>
                    <th>ZPID</th>
                </tr>
            </thead>
            <tbody>
                {% for property in properties %}
                    <tr>
                        <td>{{ property.address }}</td>
                        <td>{{ property.zpid }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No properties saved yet.</p>
    {% endif %}
{% endblock %}